body{
  background-image: url("https://cdn.cnn.com/cnnnext/dam/assets/190315143313-02-wonders-of-the-universe-0315-super-tease.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: sans-serif;
  text-shadow: 4px 3px blue;
}

h1{
  margin-left: 700px;
}

img{
  margin-left: 450px;
}

iframe{
  margin-left: 250px;
}

#thingdiv{
  color: violet;
  text-shadow: 4px 3px blue;
}

#yasdiv{
  color: violet
}
